:root {
    --bs-border-width: 0px;
    --ofm: #0b2966;
    --ofm-bg: #f3e0c2;
    --ofm-bg: #ffffff;
    --ofm-bg-dark:   #943F33;
    /*--ofm-small-highlight:  #9C9C9C; */
    /*--ofm-darker-lightgray: #D4D4D4; */
    --ofm-contrast: #675744;
    --ofm-font-color: #27170a;
    --ofm-transp-red: #ff914d;
    -ofm-small-highlight:  #b16255;
    --ofm-big-highlight:  #914235;
    --ofm-table-bg-type: #f3e0c2;
    --ofm-table-bg-type-dark: #c3b092;
    --ofm-table-accent-bg: #675744;
    --ofm-link-color: #943F33;
    font-family: 'LM Roman', Arial,Helvetica,sans-serif;
    background-color: var(--ofm-bg);

}


.drucker * {
    list-style-type: none;
}
.times-new-roman * {
    font-family: "Times New Roman", serif !important;
  }
  
  .courier-new {
    font-family: "Courier New", monospace !important;
  }
  
  .arial-serif * {
    font-family: "Arial", serif !important;
  }
  
  .font-size-26 * {
    font-size: 26px !important;
  }
  
  .font-size-22 * {
    font-size: 22px !important;
  }
  
  .font-size-18 * {
    font-size: 18px !important;
  }
  
  .font-size-14 * {
    font-size: 14px !important;
  }


:root * {
    font-family: 'LM Roman', Arial,Helvetica,sans-serif;
    
}

.align-center{
    text-align: center ;
}

.align-right{
    text-align: right ;
}

.align-left{
    text-align: left ;
}


.rubrik-zeichen {
    color: black;
}

.text-zeichen {
    color: black;
}

.rubrik2-zeichen {
    color: black;
}

.notation-zeichen {
    color: black;
}

.initiale-zeichen {
    color: black;
}


body {
    display: flex;
    min-height:100vh;
    overflow-x: hidden;
    background-color: var(--ofm-bg);

}



main {
	flex-grow: 1;
    color:var(--ofm-font-color);
    background-color: var(--ofm-bg);
    padding-bottom: 2rem ;
}

.body-contents{
    padding-left: 10vw ;
    padding-right: 10vw ;
    max-width: 
}

.row.title{
    max-width: 1100px;
    margin-left: auto ;
    margin-right: auto ;
}
a{
    color: var(--ofm-link-color);
    text-decoration: none!important ;
}

a:hover,
a:active {
    color: var(--ofm-font-color) ;
}

.col-md-4 {
    padding: 1rem ;
    padding-left: 1rem ;
  
}

.unterschrift{
    padding:2em;
}

.search-panel__results .col-md-4 {
    background-color: var(--ofm-table-bg-type) ;
    box-sizing: border-box;
    max-width: 30rem;
    border: 2pt solid var(--ofm-bg-dark);
    border-left: 2pt solid var(--ofm-bg-dark);
    border-radius: .50rem;
}

.col-md-2 {
    padding: 1rem ;
}

.col-md-8 {                                                                                                                                                                                                                                                    
    padding: 1rem ;
}

.button{padding: 1rem;}
.btn {
    background-color: var(--ofm-bg-dark) ;
    color: var(--ofm-table-bg-type-dark);
}

.p-cover{
    margin: 0;
    padding-top: 1em ;
    padding-bottom: 1em ;
}

.btn:hover,
.btn:active {
        color: var(--ofm-table-bg-type) ;
        background-color: var(--ofm-bg-dark) ;
}

.card-body {
	padding: 1em;
}
.tabulator-table * {
    background-color: var(--ofm-bg)!important;
}

.hline:after {                                                                                                                                                                                                                                             
width:79ch;
content: "";
display: inline-block ;
border-bottom: 0.1px solid #000 ;
}
/*.carousel {
}

.carousel * {
} */

.column-left, .column-right {
    max-width: 50%
}

.body-subcontents{padding: 2rem;
text-align: center;
margin-left: auto;
margin-right: auto ;}

.hr-custom{
    border: none;
  background-color: currentColor;
  height: 5px;
  color: var(--ofm-bg-dark);
  opacity: 1;
  margin-top: 4rem;
  margin-bottom: 4rem; 
}
.wrapper-navbar{
	padding:0;
	margin:0px;
	background-color: var(--ofm-bg-dark);
	color: var(--ofm-bg);
}

.wrapper-navbar * {
	background-color: var(--ofm-bg-dark);
	color: var(--ofm-bg);
}


.nav, .nav *{
    background-color: var(--ofm-bg-dark) ;
    color: var(--ofm-table-bg-type-dark) ;
}


.nav:hover, .nav:hover * , .nav *:focus{
    color: var(--ofm-table-bg-type) ;
    background-color: var(--ofm-bg-dark) ;
}


.navbar-brand:focus, .navbar-brand:hover {
    color: var(--ofm-table-bg-type) ;
}


#navbarSupportedContent a.nav-link,
.nav-link,
.navbar-brand {
    font-size: 1.5rem;
    font-weight: 900;
    color: var(--ofm-table-bg-type-dark);
}

#navbarSupportedContent a.nav-link:hover {
    color: var(--ofm-table-bg-type) ;
}


.dropdown-item:hover {
    color: var(--ofm-table-bg-type-dark) ;
    background-color: var(--ofm-bg-dark) ;
}


div#navbarSupportedContent div#navbar_right_spacer {
    min-width: 10%;
    max-width: 30rem;
}


.navbar-toggler:focus {
	box-shadow: 0 0 0 var(--bs-navbar-toggler-focus-width) var(--ofm-table-bg-type-dark) ;
}

.dropdown-menu {
	--bs-dropdown-bg: var(--ofm-bg-dark);
    color: var(--ofm-table-bg-type-dark) ;
}

.dropdown-menu * {
	--bs-dropdown-bg: var(--ofm-bg-dark);
    color: var(--ofm-table-bg-type-dark) ;
}

#viewer {
    top: 10%;
    padding: 2em;
    padding-top: 0rem;
    padding-bottom: 2em;
    margin-left: auto;
}

.facsimiles {
    padding-left: 0!important ; 
    padding-right: 0!important ;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#container_facs_1{
    height: 60vh!important ;
}
#seadragon-viewer{
    min-height: 60vh;
    min-width: 40vw;
}

.openseadragon-canvas {
    height: 100%!important ;
    width: 100%!important ;
}

.openseadragon-container {
    height: 100%!important ;
    width: 100%!important ;
}

#MyTable {
  min-width: unset !important;
  }

#persTable {
    min-width: unset !important;
}

#tabulator.table:not(.thead-light) .tabulator-header, .tabulator.table:not(.thead-light) .tabulator-header .tabulator-col {
	/*border-color: var(--ofm-contrast);
	background-color: var(--ofm-bg);
	color: #212529; */
	width: auto;
	min-width: unset !important;
	border:0;
	background-color: var(--ofm-bg);
}

.tabulator .tabulator-header {
	position: relative;
	box-sizing: border-box;
	/*width: 100%; */
	/* border-bottom: 1px solid #999; */
	background-color: var(--ofm-bg);
	color: var(--ofm-font-color);
	font-weight: 700;
	min-width: unset !important;
}

.table {
    /* height: 80vh; */
    max-height: 80vh;
    /* border: 0; */
    padding: 0;
    min-width: unset !important ;
    width: auto!important ;
    box-sizing: border-box;
    background-color: var(--ofm-bg)!important;
}


.table  *  {
	min-width: unset !important;
	background-color: var(--ofm-bg);
}


.table a {
    color: var(--ofm-bg-dark)!important;
}

.table a:hover,
.table a:active {
    color: var(--ofm-font-color)!important;
    background-color: #ced4da;
}


.table > :not(caption) > * > * {
	padding: 0rem;
	/*background-color: var(--ofm-bg); */
    background-color: var(--ofm-bg);
	color: var(--ofm-font-color);
	/* border-bottom-width: var(--ofm-border-width); */
	/*box-shadow: inset 0 0 0 9999px var(--ofm-bg,var(--ofm-table-bg-type,var(--ofm-table-accent-bg))); */
}

.tabulator .tabulator-tableholder .tabulator-table {
	position: relative;
	display: inline-block;
	background-color: var(--ofm-bg)!important;
	white-space: nowrap;
	overflow: visible;
	color: var(--ofm-font-color);
}

.tabulator {
    background-color: var(--ofm-bg);
    border: 0!important;
    font-size: 1em!important;
    font-weight: 700;
}

.

.tabulator  .tabulator-row .tabulator-cell{
    background-color: var(--ofm-bg);
}

.tabulator .tabulator-header {
	position: relative;
	box-sizing: border-box;
	/*width: 100%; */
	border-bottom: 0!important;
	background-color: var(--ofm-bg-dark)!important;
	color:var(--ofm-bg)!important;
	font-weight: 700;
	white-space: nowrap;
	overflow: hidden;
}
.flex-grow-1.flex-shrink-1.bg {
    min-height: 5vh;
    max-width: 100%;
    z-index: 10!important ;
}

.row.banner {
	background: url('../images/cover.jpg') no-repeat;
	min-height: 17vh;
	max-width: 100%;
	margin: 0;
}

.leaflet-container{
    background: var(--ofm-bg);
}

.row.pad{
    min-height: 10%;
    max-height: 15% ;
}

.edition_metadata,  .edition_metadata .fa_links {
    text-align: center ;
}
.container {
    padding-left: 1rem ;
    padding-right: 1rem ;
    max-width: 90vw ;
    text-align: center;
    padding: 1rem;
}

.container-fluid {
    padding-top: 0rem;
}
.tabulator-header {
    margin: 0px;
    border: 0!important;
    position:relative;
    color: var(--ofm-bg);
    background-color: var(--ofm-bg-dark);
}

.tabulator-headers * {
	color: var(--ofm-bg);
    position:relative;
	background-color: var(--ofm-bg-dark);
}

.tabulator .tabulator-header .tabulator-header-contents {
	position: relative;
	overflow: hidden;
    color: var(--ofm-bg);
	background-color: var(--ofm-bg-dark);
}


.tabulator .tabulator-row.tabulator-selectable:hover  * {
  background-color: #bbb!important;
  cursor: pointer;
}

.tabulator.table .tabulator-row {
	background-color: var(--ofm-bg);
    color: var(--ofm-font-color);
}

div#places_div{
    min-height: 40vh;
padding-left: 2rem;
padding-right: 2rem ;
min-width: unset ;
}


[type="search"] {
    background-clip: padding-box;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: .50rem;
	color: #495057;
	font-size: 1rem;
	line-height: 1.5;
	padding: .375rem .75rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.tabulator .tabulator-header .tabulator-col .tabulator-header-filter input {
	background-clip: padding-box;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: .50rem;
	color: #495057;
	font-size: 1rem;
	line-height: 1.5;
	padding: .375rem .75rem;
	transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.tabulator-tableholder {
	border-left: 2pt solid var(--ofm-bg-dark);
	border-bottom: 2pt solid var(--ofm-bg-dark);
	border-right: 2pt solid var(--ofm-bg-dark);
    border-bottom-left-radius: .50rem;
    border-bottom-right-radius: .50rem;
}

.address{
	text-align: center ;
}
.lang.de{
	padding-bottom: 6rem;
}
#tabulator.table:not(.thead-light) .tabulator-header, .tabulator.table:not(.thead-light) .tabulator-header .tabulator-col {
	/* border-color: var(--ofm-contrast); */
	/* background-color: var(--ofm-bg); */
	/* color: #212529; */
	border: 0;
	background-color: var(--ofm-bg-dark);
}

.list{padding: 0 ;}

.row.footer{
    padding-left: 5vw;
    padding-right: 5vw;
}

.footer-widget {
    font-size: 12px;
}

#footer-full-content {
    padding-top: 2em;
    padding-left: 0;
    padding-bottom: 0;
    padding-right: 0;
    font-size:smaller;
}

#footer-full-content .col-md-4 {
    padding-bottom: 0;
    padding-top: 0;
}


footer:where#footer {
    font-size: 0.8rem;
    display: flex;
    background-color: var(--ofm-table-bg-type);
    color: var(--ofm-font-color);
    z-index: 1;
    align-self: flex-end;
}

footer * {
	background-color: var(--ofm-table-bg-type);

}

.text-widget a {
	color: var(--ofm-transp-red)!important;
}

.footer-separator > * {
	font-size: 1.25rem;
	padding: 0.5rem;
}

.footer-imprint-bar {
    text-align:center;
    font-size: 0.9rem;
    background-color: var(--ofm-table-bg-type);
	color: var(--ofm-font-color);
}

.footer-imprint-bar * {
    background-color: var(--ofm-table-bg-type);
}



.bi:hover,
.bi:active {
    color: var(--ofm-font-color) ;
}

hr {
	margin: 1rem 0;
	color: inherit;
	border: 1px solid var(--ofm-bg-dark);
	border-top: var(--bs-border-width) solid;
	opacity: .25;
}

h2 {
    padding-top: 2em;
    padding-bottom: 2em ;
    font-size: 4rem ;
    font-weight: bold ;
}



.button-group .btn {
    margin-left: .5em;
    margin-right: .5em;
}

#container-resize,
#text-resize {
    padding: 1;
	margin: 0;
}


#text-resize {
    display:none ;
}


#text-resize * {
    padding-left: 0 ;
    padding-right: 0 ;
	padding-bottom: 0 ;
    overflow-x: hidden ;
    color: #fff;
}

.spacing{
    margin-top: 1rem ;
}
.logo{
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 0;
}

@media screen and (max-width: 1015px) {
	.flex-grow-1.flex-shrink-1.bg {
    		min-height: 5vh;
	}

	.row.banner {
		min-height: 8vh;
	}
	h2 {
    font-size: 3rem ;
	}

	}


@media screen and (max-width: 639px) {
     h2 {
	     font-size: 2rem ;
     }

     .hide-mobile{
        display: none ;
     }
     .logo{
        padding: 0;
        max-width: 80%;
     }
     
    .footer-widget.row.col.col-lg-5{
        max-width: 40% ; 
    }
     .spacing {margin-top: .5rem ;}
    .row {
            margin: 0;
    }

    .body-contents{
        padding-left: .3em;
        padding-right: .3em;
    }

    #viewer{
        max-height: 100vh ;
    }

    .row.banner {
	    min-height: 4vh;
    }
    .openseadragon-canvas {
        width: 100vw;
        padding: 0;
    }

    .facsimiles {
        padding: 0;
        height:auto!important;
        padding-left: 0!important ; 
        padding-right: 0!important ;
    }

    .col-md-2.col-lg-2.col-sm-12{
            padding: 0;
            max-width: 2em;
    }
    .container {
            padding: 0.5em;
            max-width: 80vh;
    }

    .col-md-4 {
            padding-left: 1em;
            padding-right: 1em ;
            max-width: 50%;
    }

    .col-md-8 {
            padding-top: 0;
            padding-bottom: 0;
            padding-left: 0;
            padding-right: 0 ;
            max-width: 100% ;
    }
    .col-md-8.col-lg-8.col-sm-12{
            max-width: 78%;
            padding: 0;
    }
    #Hits {
            width: 100%;
    }
    #seadragon-viewer{
        width: 95vw;
        min-height: 65vh;
    }
    .no-padding{
        padding: 0;
    }

    .column-right {
        max-width: unset ;
    }
    .column-left {
        max-width: unset ;
        width: 100%;
    }

    .button.column-right, .button.column-left{
        width: 50% ;
        max-width: 50% ;
    }
    .col-md-3 {
        max-width: 33%;
    }

 
}
