:root {
    --bs-border-width: 0px;
    --ofm: #0b2966;
    --ofm-bg: #f3e0c2;
    --ofm-bg-dark: #943F33;
    /*--ofm-small-highlight:  #9C9C9C; */
    /*--ofm-darker-lightgray: #D4D4D4; */
    --ofm-contrast: #675744;
    --font-color: #27170a;
    --ofm-transp-red: #ff914d;
    --ofm-big-highlight:  #914235;
}

:root * {
    font-family: 'LM Roman', Arial,Helvetica,sans-serif;
}


.py-3 {
	padding-top: 0rem !important;
	padding-bottom: 0rem !important;
    background-color: var(--ofm-bg);
}




body {
    margin: 0;
}
* {margin: 0; padding: 0}



nav.navbar{
    padding:0px;
    margin:0px;
    background-color: var(--ofm-bg-dark);
}

.mt-auto {
    background-color: var(--ofm-bg);
}


.bg-body-tertiary{
    padding:0px;
    margin:0px;
    background-color: var(--ofm-bg-dark);
}
.container-fluid{
    padding:5px;
    margin:0px;
    background-color: var(--ofm-bg-dark);
}


div#places_div{
	height: 40vh;
}

.table {
    height: 20vh;  
}

div#navbar-collapse{
    background-color: var(--ofm-bg-dark);
    padding:40px;
    margin:40px;
}

div#wrapper-navbar{
    background-color: var(--ofm-bg-dark);
    padding:0px;
    margin:0px;
}

nav div {
    background-color: var(--ofm-bg-dark);
    margin: 0px;
    
}



#navbarSupportedContent a.nav-link {
    font-size: 1.5rem;
    font-weight: 900;
}


.navbar-nav ul li a {
    background-color: var(--ofm-bg-dark);
    color: var(--ofm-bg);
    font-size: 1.2rem;
    font-weight: bold;
}


.navbar-nav ul li a:hover, 
.navbar-nav ul li a:active {
    background-color: var(--ofm-bg-dark);
    color: var(--ofm-font-color);
}

.nav-link:focus, .nav-link:hover {
	color: var(--ofm-font-color);
}

div#navbarSupportedContent div#navbar_right_spacer {
    min-width: 10%;
    max-width: 30rem;
}






.nav.navbar.expand-lg.bg-body-tertiary{
    background-color: var(--ofm-bg-dark);
margin:0px;
}

.navbar-nav, .nav-item, a.nav-link {
    margin:0;
    color: var(--ofm-bg);
    background-color: var(--ofm-bg-dark);
}






#viewer {
    position: sticky;
    top: 10%;
    padding: 2em;
    padding-top: 0rem;
    padding-bottom: 2em;
    max-width: 900px;
    margin-left: auto;
    max-height: 900px;
}





div#text-resize div.card-body.mimetic_lbs {                                                                                                                                                                                                               
	max-width: 100rem;
}
div#text-resize div.card-body.non_mimetic_lbs {
	 max-width: 80rem;
}   

footer:where#footer {
    font-size: 0.8rem;
    margin: 0px;
    display: flex;
    background-color: var(--ofm-bg-dark);
    color: var(--ofm-bg);
    z-index: 1;
    max-height: 260px;
}







#wrapper-footer-full {
    margin: 0px;
    display: flex;
    background-color: var(--ofm-bg-dark);
    color: var(--ofm-bg);
    z-index: 1;
}

div#footer-full-content {
    margin: 0px;
    display: flex;
    background-color: var(--ofm-bg-dark);
    color: var(--ofm-bg);
    z-index: 1;
    padding-bottom: 1rem;
}

div#wrapper-footer-full div div a img{
    max-width: 200px;
    margin: 0px;
    background-color: var(--ofm-bg-dark);
    color: var(--ofm-contrast);
}

div#wrapper-footer-secondary {
    margin: 0px;
    text-align:center;
    font-size: 0.9rem;
    background-color: var(--ofm-bg-dark);
    color: var(--ofm-bg);
}

div#footer-imprint-bar {
    margin: 0px;
    text-align:center;
    font-size: 0.9rem;
    background-color: var(--ofm-bg-dark);
    color: var(--ofm-bg);
}

div#wrapper-footer-secondary a{
    color: var(--ofm-contrast);
    background-color: var(--ofm-bg-dark);
}

main {
    color:var(--ofm-font-color);
    background-color: var(--ofm-bg);
}

tabulator-header {
    margin: 0px;
    color: var(--ofm-font-color);
    background-color: var(--ofm-bg);
}