:root {
    --bs-border-width: 0px;
    --ofm: #0b2966;
    --ofm-bg: #f3e0c2;
    --ofm-bg-dark: #943F33;
    /*--ofm-small-highlight:  #9C9C9C; */
    /*--ofm-darker-lightgray: #D4D4D4; */
    --ofm-contrast: #675744;
    --ofm-font-color: #27170a;
    --ofm-transp-red: #ff914d;
    --ofm-big-highlight:  #914235;
    --ofm-table-bg-type: #f3e0c2;
    --ofm-table-accent-bg: #675744;
    font-family: 'LM Roman', Arial,Helvetica,sans-serif;
    background-color: var(--ofm-bg);

}

:root * {
    font-family: 'LM Roman', Arial,Helvetica,sans-serif;
}


body {
    margin: 0;
    display: flex;
    min-height:100vh;
    overflow-x: hidden;
    background-color: var(--ofm-bg);

}

main {
	flex-grow: 1;
    color:var(--ofm-font-color);
    background-color: var(--ofm-bg);
}

.carousel {
}

.carousel * {
}


.wrapper-navbar{
	padding:5px;
	margin:0px;
	background-color: var(--ofm-bg-dark);
	color: var(--ofm-bg);
}

.wrapper-navbar * {
	background-color: var(--ofm-bg-dark);
	color: var(--ofm-bg);
}

#navbarSupportedContent a.nav-link {
    font-size: 1.5rem;
    font-weight: 900;
}


.navbar-nav ul li a {
    font-size: 1.2rem;
    font-weight: bold;
}


.navbar-nav ul li a:hover, 
.navbar-nav ul li a:active {
    color: var(--ofm-font-color) ;
    background-color: var(--ofm-bg-dark);
}

.nav-link:focus, .nav-link:hover {
	color: var(--ofm-font-color)!important;

}

div#navbarSupportedContent div#navbar_right_spacer {
    min-width: 10%;
    max-width: 30rem;
}


.navbar-nav, .nav-item, a.nav-link {
    margin:0;
    color: var(--ofm-bg);
}


.dropdown-menu {
	--bs-dropdown-bg: var(--ofm-bg-dark);
}


div#places_div{
        min-height: 40vh;

}


#viewer {
    position: sticky;
    top: 10%;
    padding: 2em;
    padding-top: 0rem;
    padding-bottom: 2em;
    max-width: 60vw;
    margin-left: auto;
    max-height: 900px;
}


#tabulator.table:not(.thead-light) .tabulator-header, .tabulator.table:not(.thead-light) .tabulator-header .tabulator-col {
	border-color: var(--ofm-contrast);
	background-color: var(--ofm-bg);
	color: #212529;
}

.table {
    min-height: 10vh;
    background-color: var(--ofm-bg);
}


.table * {
	background-color: var(--ofm-bg);
}

.container {
	background-color: var(--ofm-bg);
}

.row {
	min-width:100vw;
}

.table > :not(caption) > * > * {
	/* padding: .5rem .5rem; */
	background-color: var(--ofm-bg);
	color: var(--bs-table-color-state,var(--ofm-bg-color,var(--ofm-contrast)));
	background-color: var(--ofm-bg);
	border-bottom-width: var(--ofm-border-width);
	box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state,var(--ofm-table-bg-type,var(--ofm-table-accent-bg)));
}

.table > :not(caption) > * > * {
	padding: 0rem;
	background-color: var(--ofm-bg);
	/* color: var(--bs-table-color-state,var(--ofm-bg-color,var(--ofm-contrast))); */
	border-bottom-width: var(--ofm-border-width);
	box-shadow: inset 0 0 0 9999px var(--bs-table-bg-state,var(--ofm-table-bg-type,var(--ofm-table-accent-bg)));
}


.tabulator-header {
    margin: 0px;
    color: var(--ofm-font-color);
    background-color: var(--ofm-bg);
}

div#text-resize div.card-body.mimetic_lbs {                                                                                                                                                                                                               
	max-width: 100rem;
}
div#text-resize div.card-body.non_mimetic_lbs {
	 max-width: 80rem;
}   


footer:where#footer {
    font-size: 0.8rem;
    display: flex;
    background-color: var(--ofm-bg-dark);
    color: var(--ofm-bg);
    z-index: 1;
    margin: 0px !important;
    align-self: flex-end;
}

.footer * {
	background-color: var(--ofm-bg-dark) !important;
	color: var(--ofm-bg)  !important;
	margin: 0px;
}

.footer div a img {
	color: var(--ofm-contrast) !important;
	margin: 0px;
}


.footer-separator > * {
	font-size: 1.25rem;
	padding: 0.5rem;
}

.footer-imprint-bar {
    margin: 0px;
    text-align:center;
    font-size: 0.9rem;
    color: var(--ofm-bg) ;
    background-color: var(--ofm-bg-dark);
}

.footer-imprint-bar * {
    margin: 0px;
    color: var(--ofm-bg) !important;
    background-color: var(--ofm-bg-dark) !important;
}

.footer-imprint-bar  div div a img{
    color: var(--ofm-contrast) !important;
}


