/* custom tabulator toc start */

#tocTable .tabulator-col {
	border-right: 0px;
}

#tocTable .tabulator-row .tabulator-cell {
	border-right: 0px;
    background-color: inherit;
}

.tabulator .tabulator-header {
	background-color: var(--ofm-table-accent-bg);
}

body #tocTable div.tabulator-table div.tabulator-row.tabulator-row-even {
	background-color: var(--ofm-table-bg-type);
}

body #tocTable div.tabulator-table div.tabulator-row.tabulator-row-odd {
	background-color: var(--ofm-contrast);
}

#tocTable div.tabulator-row.tabulator-row-odd.tabulator-selectable:hover,
#tocTable div.tabulator-row.tabulator-row-even.tabulator-selectable:hover {
	background-color: var(--ofm-small-highlight);
	cursor: pointer;
}

#tocTable .tabulator-page.active {
	color: var(--ofm-big-highlight);
}

#tocTable input:focus,
#tocTable input:focus-visible {
    outline: 0;
    /* border: 0.02rem solid var(--bv-big-highlight); */
    box-shadow: 0px 0.1rem 0.4rem var(--ofm-big-highlight);
}

/* custom tabulator toc end */
